/* tokens (fonts + variables) */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Abril-Fatface';
    src: url('../../public/fonts/AbrilFatface-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../public/fonts/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

/* design tokens */
:root {
    /* background color */
    --bg: #efefef;

    /* darker accent support colours */
    --a-main: #2a2c29;
    --b-main: #444741;
    --c-main: #5f635c;

    /* lighter accent support colours */
    --d-main: #b7bab4;
    --e-main: #d3d5cf;
    --f-main: #f0f1ed;

    /* accent colour */
    --g-main: #8e918b;

    /* side panel background colours */
    --baseAcc-a: #101010;
    --baseAcc-b: #ffffff;

    /* text colours */
    --text-a: #000000;
    --text-b: #363636;
    --text-c: #585858;
    --text-d: #ffffff;

    --danger: #b91c1c;
    --dangerH: #871111;
    --dangerL: #ffd8d8;
    --dangerHover: #ebb2b2;

    --warning: #cba615;
    --warningL: #fff4d5;
    --warningH: #ad8d10;
    --warningHover: #e6d5a8;

    --neutral: #0062ff;

    --success: #00ad45;
    --successM: #b6d7c1;
    --successL: #dbfae6;

    /* priority tabs/buttons */
    --priorityHigha: #ff3131;
    --priorityHighb: #e3bebe;
    --priorityHighc: #f8e4e4;
    --priorityHight: #ff3131;

    --priorityNormala: #d5af19;
    --priorityNormalb: #f9f0d6;
    --priorityNormalc: #fffceb;
    --priorityNormalt: #f4c611;

    --priorityLowa: #acacac;
    --priorityLowb: #d2d2d2;
    --priorityLowc: #f0f0f0;
    --priorityLowt: #a6a6a6;

    /* progress tabs/buttons */
    --progressNota: #ff7517;
    --progressNotb: #ffdbc2;
    --progressNotc: #ffe7d6;
    --progressNott: #ff7517;

    --progressIna: #5170ff;
    --progressInb: #cdd6ff;
    --progressInc: #eaedff;
    --progressInt: #5170ff;

    --progressAlmosta: #7ed957;
    --progressAlmostb: #dbffcc;
    --progressAlmostc: #eaffe2;
    --progressAlmostt: #66af46;

    /* mode banner */
    --focusMode: #04766b;
    --focusModeHover: #02574e;
   
    --priorityMode: #b68030;
    --priorityModeHover: #9b6719;

    --disabledMode: #272727;
}

.dark {}

/* base layer */
@layer base {
    
    html, body {
        font-family: system-ui, sans-serif;
    }

    body {
        background-color: var(--bg);
        color: var(--text-a);
        overflow-x: hidden;
    }

    /* button, input, textarea { @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-blue-500; } */

    /* typography */
    h1 { @apply text-2xl font-bold; } 
    h2 { @apply text-xl font-semibold; }
    h3 { @apply text-lg font-semibold; }
    h4 { @apply text-base font-semibold; }
    h5 { @apply text-sm; }
    h6 { @apply text-xs; }
    p { @apply text-sm; }
}

/* layout primitives define mobile-first defaults */
@layer components {

    /* completed components */
    .app-shell { 
        @apply grid h-screen w-full
        transition-[grid-template-columns] 
        duration-500 ease-[cubic-bezier(0.22,1,0.36,1)] z-0; 
        grid-template-columns: 
            var(--left, 100px)
            1fr
            var(--right, 50px);
        grid-template-rows: 1fr auto;
    }
            
    .secondary-side-bar-btn {@apply flex items-center w-full rounded; }
    .secondary-side-bar-btn.expanded {@apply justify-start; }
    .secondary-side-bar-btn.collapsed {@apply justify-center; }

    .secondary-side-bar-label {@apply text-[var(--text-a)] font-semibold whitespace-nowrap transition-all duration-150; }
    .secondary-side-bar-label.show {@apply opacity-100; }
    .secondary-side-bar-label.hide {@apply opacity-0 w-0 overflow-hidden; }
    
    .prim-act-btn {@apply bg-[var(--baseAcc-a)] border-[var(--a-main)] flex flex-row items-center justify-center text-[var(--text-d)] transform transition-transform duration-200 ease-out hover:scale-105 hover:bg-[var(--a-main)]; }
        
    .error-message {@apply bg-[var(--dangerL)] flex items-center justify-between; }
    .error-popup {@apply bg-[var(--baseAcc-b)] flex flex-col items-center text-center; }
    
    .error-popup-btn {@apply items-center; }
    .error-popup-btn.a {@apply bg-[var(--d-main)] border-[var(--c-main)] hover:bg-[var(--e-main)] text-[var(--text-a)]; }
    .error-popup-btn.b {@apply bg-[var(--dangerH)] border-[var(--danger)] hover:bg-[var(--danger)] text-[var(--text-d)]; }
}

/* responsiveness */
@layer utilities {

    /* 640px large phones/small tablets */
    @screen sm {
        h1 { @apply text-lg font-bold; } 
        h2 { @apply text-base font-semibold; }
        h3 { @apply text-[0.95rem] font-semibold; }
        h4 { @apply text-[0.85rem] font-semibold; }
        h5 { @apply text-[0.75rem] font-semibold; }
        h6 { @apply text-[0.65rem] font-thin; }
        p { @apply text-[0.55rem]; }
        img {@apply w-2 aspect-square; }

        .side-bar,
        .secondary-side-bar,
        .side-bar-toggle {
            @apply hidden;
        }
        
        .app-shell {
            grid-template-columns: 0px 1fr 0px;
        }
        .main-panel {
            @apply m-0 mx-2 gap-2;
        }
        .main-content {
            @apply mb-2;
        }
    }

    /* 768px tablets */
    @screen md {
        h1 { @apply text-xl font-bold; } 
        h2 { @apply text-lg font-semibold; }
        h3 { @apply text-base font-semibold; }
        h4 { @apply text-[0.95rem] font-semibold; }
        h5 { @apply text-[0.85rem] font-semibold; }
        h6 { @apply text-[0.75rem] font-thin; }
        p { @apply text-[0.65rem]; }
        img {@apply w-3 aspect-square; }

        .side-bar,
        .secondary-side-bar,
        .side-bar-toggle {
            @apply block;
        }

        .app-shell {
            grid-template-columns: 
                var(--left, 100px)
                1fr
                0px;
        }
        .main-panel {
            @apply mx-3 gap-2;
        }
        .main-content {
            @apply mb-4;
        }
    }

    /* 1024px laptops (mine) */
    @screen lg {
        h1 { @apply text-2xl font-bold; } 
        h2 { @apply text-xl font-semibold; }
        h3 { @apply text-lg font-semibold; }
        h4 { @apply text-base font-semibold; }
        h5 { @apply text-[0.98rem] font-semibold; }
        h6 { @apply text-[0.85rem] font-thin; }
        p { @apply text-[0.7rem]; }
        
        img {@apply w-3 aspect-square; }
        .batch-func img { @apply w-3.5 aspect-square; }
        .side-bar-menu button img, .mode-banner img { @apply w-4 aspect-square; }
        .secondary-side-bar img, .task-layout-btn img, .toolbar img { @apply w-5 aspect-square; }
        .side-bar img { @apply w-6 aspect-square; }

        .side-bar,
        .secondary-side-bar,
        .side-bar-toggle {
            @apply block;
        }
        
        .side-bar { 
            @apply flex flex-col justify-between;
        }

        .app-shell { 
            @apply grid h-screen w-full
            transition-[grid-template-columns] 
            duration-500 ease-[cubic-bezier(0.22,1,0.36,1)]; 
            grid-template-columns: 
                var(--left, 100px)
                1fr
                var(--right, 50px);
            grid-template-rows: 1fr auto;
        }
        
        .main-panel { @apply flex flex-col h-full min-h-0 m-1 mx-2 gap-1; }
        .footer { grid-column: 1 / -1; }
        .main-content { @apply mb-6; }

        .prototype { @apply px-4 py-0.5 pb-2.5 rounded-md; }
        
        .side-bar { @apply px-1 py-2 w-12 h-[calc(100vh-0.5rem)] rounded-lg; }
        .side-bar-btn {@apply gap-1.5; }
        .side-bar-btn-active {@apply h-6 w-1; }
        .side-bar-btn-style {@apply rounded-md py-1 px-1.5 min-w-[30px] min-h-[30px]; }
        
        .side-bar-menu {@apply ml-3 w-40 rounded-md p-0.5; }
        .side-bar-menuitem {@apply p-0.5 px-2 gap-3 min-h-[28px]; }
        
        .side-bar-toggle {@apply bottom-[5rem] p-1 py-3; }

        .side-bar-btn-style.expanded {@apply gap-2 w-[12.4rem] h-9 m-0.5 px-3 gap-3 rounded-lg justify-start; }
        .side-bar-btn-style.collapsed {@apply gap-0 py-0.5 px-1.5 rounded-md; }

        .side-bar-label {@apply text-sm; }
        .side-bar-help {@apply gap-1 text-[0.6rem]; }
        .side-bar-info {@apply w-2 h-2 mt-0.5 mx-1; }
        
        .secondary-side-bar {@apply p-2 pt-3 ml-1 h-[calc(100vh-0.5rem)] rounded-lg; }
        .secondary-side-bar-btn.expanded {@apply h-7 px-1 gap-3; }
        .secondary-side-bar-btn.collapsed {@apply gap-0 rounded-md; }
        
        .secondary-side-bar-label {@apply text-[0.8rem]; }
        
        .group-label {@apply text-[0.65rem]; }
        
        .search-bar {@apply border-[0.08rem] text-sm px-3 py-1 rounded-md w-2/3 h-auto; }
        .search-bar-results {@apply border-[0.08rem] text-sm mt-1 rounded-md w-2/3 max-h-[30rem]; }
        .search-bar-results-show {@apply px-3 py-0.5 border-b-[0.08rem]; }
        
        .prim-act-btn {@apply w-[8rem] border-[0.1rem] gap-1.5 rounded-md p-1 shadow-md; }
        .task-layout-btn {@apply w-auto;}

        .batch-func {@apply gap-3 mx-1; }
        
        .email-grid {@apply gap-2; }
        
        .send-email-container {@apply p-2 px-4 gap-1 rounded-md; }
        .send-email-container.input {@apply p-1 mb-2 text-sm rounded; }
        
        .error-message {@apply p-0.5 px-2 rounded; }
        .error-popup {@apply p-8 rounded-md w-[22rem] shadow-xl gap-2; }
        .error-popup-btn {@apply w-[6.5rem] border-[0.05rem] rounded p-1.5 shadow-md; }
        
        .priority-tag, .progress-tag {@apply w-full mx-2 rounded-sm py-0.5 px-3 gap-1 border-[0.08rem]; }

        .mode-banner {@apply px-3 py-1 rounded-lg shadow-black/20 shadow-xl text-sm;}
    }

    /* 1280px desktops */
    @screen xl {}

    /* 1536px large monitors */
    @screen 2xl {}
}