@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Abril-Fatface';
    src: url('../../public/fonts/AbrilFatface-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../public/fonts/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

:root {
    --bg-main: #f8f8f8;

    --cardA-main: #f9f5f5;
    --cardB-main: #f5efef;

    --blankCard-main: #ffffff;

    --a-main: #e1d5d0;
    --aHover-main: #d4c0bb;

    --icons-main: #e6e6e6;
    --iconsHover-main: #d4d4d4;

    --acc-main: #8f787c;
    --accHover-main: #766266;

    --text-a: #000000;
    --text-b: #363636;
    --text-c: #585858;
    --text-d: #ffffff;

    --danger: #b91c1c;
    --dangerL: #fac7c7;

    --warning: #ffcc00;
    --warningL: #fef2ca;

    --neutral: #0062ff;

    --success: #00ad45;
    --successM: #b6d7c1;
    --successL: #dbfae6;
}

.dark {
    --text-a: #f0f0f0;
    --text-b: #b3b3b3;
}

body {
    background-color: var(--bg-main);
    color: var(--text-a);
    transition: background-color 1200ms ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

button {
    transition: background-color 300ms ease;
}